@model Market.Models.Personel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Personel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="adi" class="control-label"></label>
                <input asp-for="adi" class="form-control" />
                <span asp-validation-for="adi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="soyadi" class="control-label"></label>
                <input asp-for="soyadi" class="form-control" />
                <span asp-validation-for="soyadi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cinsiyet" class="control-label"></label>
                <input asp-for="Cinsiyet" class="form-control" />
                <span asp-validation-for="Cinsiyet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="maas" class="control-label"></label>
                <input asp-for="maas" class="form-control" />
                <span asp-validation-for="maas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="reyonNo" class="control-label"></label>
                <input asp-for="reyonNo" class="form-control" />
                <span asp-validation-for="reyonNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
